.elementor-650 .elementor-element.elementor-element-0123579:not(.elementor-motion-effects-element-type-background), .elementor-650 .elementor-element.elementor-element-0123579>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../../2021/05/shiba_in_cup.png");
    background-position: 990px 180px;
    background-repeat: no-repeat;
    background-size: 25vw auto;
}

.elementor-650 .elementor-element.elementor-element-0123579 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 252px 40px 0px 40px;
    z-index: 1;
}

.elementor-650 .elementor-element.elementor-element-0123579>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-650 .elementor-element.elementor-element-84a1951>.elementor-element-populated {
    margin: -04% 40% 0% 0%;
    padding: 0px 0px 0px 30px;
}

.elementor-650 .elementor-element.elementor-element-cd47b80 .elementor-heading-title {
    color: #4DACD9;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.elementor-650 .elementor-element.elementor-element-cd47b80>.elementor-widget-container {
    margin: 0px 0px 20px 0px;
}

.elementor-650 .elementor-element.elementor-element-caf3118>.elementor-widget-container {
    margin: 0px 0px 12px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-650 .elementor-element.elementor-element-caf3118 {
    width: 100%;
    max-width: 100%;
}

.elementor-650 .elementor-element.elementor-element-b6b9f74>.elementor-widget-container {
    padding: 0px 115px 0px 0px;
}

.elementor-650 .elementor-element.elementor-element-10cf17d>.elementor-widget-container {
    padding: 0px 40px 0px 0px;
}

.elementor-650 .elementor-element.elementor-element-10cf17d {
    width: auto;
    max-width: auto;
    align-self: center;
}

.elementor-650 .elementor-element.elementor-element-aaab31b .elementor-button .elementor-align-icon-right {
    margin-left: 8px;
}

.elementor-650 .elementor-element.elementor-element-aaab31b .elementor-button .elementor-align-icon-left {
    margin-right: 8px;
}

.elementor-650 .elementor-element.elementor-element-aaab31b .elementor-button {
    fill: #4DACD9;
    color: #4DACD9;
    background-color: #FFFFFF00;
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-650 .elementor-element.elementor-element-aaab31b .elementor-button:hover, .elementor-650 .elementor-element.elementor-element-aaab31b .elementor-button:focus {
    color: #2D3033;
}

.elementor-650 .elementor-element.elementor-element-aaab31b .elementor-button:hover svg, .elementor-650 .elementor-element.elementor-element-aaab31b .elementor-button:focus svg {
    fill: #2D3033;
}

.elementor-650 .elementor-element.elementor-element-aaab31b>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-650 .elementor-element.elementor-element-aaab31b {
    width: auto;
    max-width: auto;
    align-self: center;
}

.elementor-650 .elementor-element.elementor-element-9d56778 {
    --grid-template-columns: repeat(0, auto);
    --icon-size: 20px;
    --grid-column-gap: 16px;
    --grid-row-gap: 0px;
}

.elementor-650 .elementor-element.elementor-element-9d56778 .elementor-widget-container {
    text-align: left;
}

.elementor-650 .elementor-element.elementor-element-9d56778>.elementor-widget-container {
    padding: 30px 0px 0px 0px;
}

.elementor-650 .elementor-element.elementor-element-4a3ccb9:not(.elementor-motion-effects-element-type-background), .elementor-650 .elementor-element.elementor-element-4a3ccb9>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../../2021/05/child-care-template-light-yellow-shape-bg.svg");
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: contain;
}

.elementor-650 .elementor-element.elementor-element-4a3ccb9 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 140px 40px 64px 40px;
}

.elementor-650 .elementor-element.elementor-element-4a3ccb9>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-650 .elementor-element.elementor-element-3f9bbbd>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 8px;
}

.elementor-650 .elementor-element.elementor-element-037e928 img {
    opacity: 1;
    filter: brightness( 100%) contrast( 100%) saturate( 100%) blur( 0px) hue-rotate( 0deg);
    border-radius: 16px 16px 16px 16px;
}

.elementor-650 .elementor-element.elementor-element-037e928>.elementor-widget-container {
    margin: 0px 0px 10px 0px;
}

.elementor-650 .elementor-element.elementor-element-156626c>.elementor-element-populated {
    padding: 24px 64px 0px 56px;
}

.elementor-650 .elementor-element.elementor-element-b7294bd {
    --divider-border-style: solid;
    --divider-color: #66D7D1;
    --divider-border-width: 4px;
}

.elementor-650 .elementor-element.elementor-element-b7294bd .elementor-divider-separator {
    width: 48px;
}

.elementor-650 .elementor-element.elementor-element-b7294bd .elementor-divider {
    padding-top: 0px;
    padding-bottom: 0px;
}

.elementor-650 .elementor-element.elementor-element-b7294bd>.elementor-widget-container {
    margin: 0px 0px 16px 0px;
}

.elementor-650 .elementor-element.elementor-element-8d5e179>.elementor-widget-container {
    margin: 0px 0px -16px 0px;
}

.elementor-650 .elementor-element.elementor-element-0916abb {
    color: #2D3033;
    font-weight: 600;
}

.elementor-650 .elementor-element.elementor-element-86017dc:not(.elementor-motion-effects-element-type-background), .elementor-650 .elementor-element.elementor-element-86017dc>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFF7C7;
    background-image: url("../../2021/05/child-care-template-light-blue-wave-shape.svg");
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: contain;
}

.elementor-650 .elementor-element.elementor-element-86017dc {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 20px 40px 120px 40px;
}

.elementor-650 .elementor-element.elementor-element-86017dc>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-650 .elementor-element.elementor-element-1b8801c>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: flex-end;
    align-items: flex-end;
}

.elementor-650 .elementor-element.elementor-element-b9d54c6>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 16px;
}

.elementor-650 .elementor-element.elementor-element-0e4ee1d {
    --divider-border-style: solid;
    --divider-color: #66D7D1;
    --divider-border-width: 4px;
}

.elementor-650 .elementor-element.elementor-element-0e4ee1d .elementor-divider-separator {
    width: 48px;
}

.elementor-650 .elementor-element.elementor-element-0e4ee1d .elementor-divider {
    padding-top: 0px;
    padding-bottom: 0px;
}

.elementor-650 .elementor-element.elementor-element-0e4ee1d>.elementor-widget-container {
    margin: 0px 0px 16px 0px;
}

.elementor-650 .elementor-element.elementor-element-021c266>.elementor-widget-container {
    margin: 0px 0px -16px 0px;
}

.elementor-650 .elementor-element.elementor-element-0afaea5 .elementor-button {
    fill: #4DACD9;
    color: #4DACD9;
    background-color: #4DACD900;
    border-style: solid;
    border-color: #4DACD9;
}

.elementor-650 .elementor-element.elementor-element-0afaea5 .elementor-button:hover, .elementor-650 .elementor-element.elementor-element-0afaea5 .elementor-button:focus {
    color: #FFFFFF;
    background-color: #4DACD9;
}

.elementor-650 .elementor-element.elementor-element-0afaea5 .elementor-button:hover svg, .elementor-650 .elementor-element.elementor-element-0afaea5 .elementor-button:focus svg {
    fill: #FFFFFF;
}

.elementor-650 .elementor-element.elementor-element-14d24db {
    margin-top: 64px;
    margin-bottom: 0px;
}

.elementor-650 .elementor-element.elementor-element-45ca856>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 16px;
}

.elementor-650 .elementor-element.elementor-element-45ca856:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap, .elementor-650 .elementor-element.elementor-element-45ca856>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-650 .elementor-element.elementor-element-45ca856>.elementor-element-populated {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #F2F3FA;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 32px 0px 0px;
    padding: 0px 32px 40px 32px;
}

.elementor-650 .elementor-element.elementor-element-45ca856>.elementor-element-populated, .elementor-650 .elementor-element.elementor-element-45ca856>.elementor-element-populated>.elementor-background-overlay, .elementor-650 .elementor-element.elementor-element-45ca856>.elementor-background-slideshow {
    border-radius: 16px 16px 16px 16px;
}

.elementor-650 .elementor-element.elementor-element-45ca856:hover>.elementor-element-populated {
    box-shadow: 0px 40px 80px -24px rgba(0, 0, 0, 0.16);
}

.elementor-650 .elementor-element.elementor-element-45ca856>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-650 .elementor-element.elementor-element-a28fae1 img {
    border-radius: 16px 16px 16px 16px;
    box-shadow: 0px 24px 40px -16px rgba(0, 0, 0, 0.5);
}

.elementor-650 .elementor-element.elementor-element-a28fae1>.elementor-widget-container {
    margin: 0px -32px 16px -32px;
}

.elementor-650 .elementor-element.elementor-element-27575e8 {
    text-align: center;
}

.elementor-650 .elementor-element.elementor-element-27575e8>.elementor-widget-container {
    padding: 20px 0px 0px 0px;
}

.elementor-650 .elementor-element.elementor-element-1a3375e {
    font-size: 14px;
}

.elementor-650 .elementor-element.elementor-element-1a3375e>.elementor-widget-container {
    margin: 0px 0px -8px 0px;
}

.elementor-650 .elementor-element.elementor-element-a88994a>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 16px;
}

.elementor-650 .elementor-element.elementor-element-a88994a:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap, .elementor-650 .elementor-element.elementor-element-a88994a>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-650 .elementor-element.elementor-element-a88994a>.elementor-element-populated {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #F2F3FA;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 16px 0px 16px;
    padding: 0px 32px 40px 32px;
}

.elementor-650 .elementor-element.elementor-element-a88994a>.elementor-element-populated, .elementor-650 .elementor-element.elementor-element-a88994a>.elementor-element-populated>.elementor-background-overlay, .elementor-650 .elementor-element.elementor-element-a88994a>.elementor-background-slideshow {
    border-radius: 16px 16px 16px 16px;
}

.elementor-650 .elementor-element.elementor-element-a88994a:hover>.elementor-element-populated {
    box-shadow: 0px 40px 80px -24px rgba(0, 0, 0, 0.16);
}

.elementor-650 .elementor-element.elementor-element-a88994a>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-650 .elementor-element.elementor-element-1081e7b img {
    border-radius: 16px 16px 16px 16px;
    box-shadow: 0px 24px 40px -16px rgba(0, 0, 0, 0.5);
}

.elementor-650 .elementor-element.elementor-element-1081e7b>.elementor-widget-container {
    margin: 0px -32px 16px -32px;
}

.elementor-650 .elementor-element.elementor-element-f7f27a9 {
    text-align: center;
}

.elementor-650 .elementor-element.elementor-element-f7f27a9>.elementor-widget-container {
    padding: 20px 0px 0px 0px;
}

.elementor-650 .elementor-element.elementor-element-302435a {
    font-size: 14px;
}

.elementor-650 .elementor-element.elementor-element-302435a>.elementor-widget-container {
    margin: 0px 0px -8px 0px;
}

.elementor-650 .elementor-element.elementor-element-db653a8>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 16px;
}

.elementor-650 .elementor-element.elementor-element-db653a8:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap, .elementor-650 .elementor-element.elementor-element-db653a8>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-650 .elementor-element.elementor-element-db653a8>.elementor-element-populated {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #F2F3FA;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 32px;
    padding: 0px 32px 40px 32px;
}

.elementor-650 .elementor-element.elementor-element-db653a8>.elementor-element-populated, .elementor-650 .elementor-element.elementor-element-db653a8>.elementor-element-populated>.elementor-background-overlay, .elementor-650 .elementor-element.elementor-element-db653a8>.elementor-background-slideshow {
    border-radius: 16px 16px 16px 16px;
}

.elementor-650 .elementor-element.elementor-element-db653a8:hover>.elementor-element-populated {
    box-shadow: 0px 40px 80px -24px rgba(0, 0, 0, 0.16);
}

.elementor-650 .elementor-element.elementor-element-db653a8>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-650 .elementor-element.elementor-element-79416b9 img {
    border-radius: 16px 16px 16px 16px;
    box-shadow: 0px 24px 40px -16px rgba(0, 0, 0, 0.5);
}

.elementor-650 .elementor-element.elementor-element-79416b9>.elementor-widget-container {
    margin: 0px -32px 16px -32px;
}

.elementor-650 .elementor-element.elementor-element-4f2995d {
    text-align: center;
}

.elementor-650 .elementor-element.elementor-element-4f2995d>.elementor-widget-container {
    padding: 20px 0px 0px 0px;
}

.elementor-650 .elementor-element.elementor-element-37ac4e0 {
    font-size: 14px;
}

.elementor-650 .elementor-element.elementor-element-37ac4e0>.elementor-widget-container {
    margin: 0px 0px -8px 0px;
}

.elementor-650 .elementor-element.elementor-element-d4aa493:not(.elementor-motion-effects-element-type-background), .elementor-650 .elementor-element.elementor-element-d4aa493>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("http://kyushu.tech/wp-content/uploads/2021/01/child-care-template-tosca-blob-shape.svg");
    background-position: center left;
    background-repeat: no-repeat;
    background-size: 16vw auto;
}

.elementor-650 .elementor-element.elementor-element-d4aa493>.elementor-background-overlay {
    background-image: url("http://kyushu.tech/wp-content/uploads/2021/01/child-care-template-yellow-blob-shape.svg");
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 14vw auto;
    opacity: 1;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-650 .elementor-element.elementor-element-d4aa493 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 72px 40px 144px 40px;
}

.elementor-650 .elementor-element.elementor-element-f7739f2>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-650 .elementor-element.elementor-element-f7739f2 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.elementor-650 .elementor-element.elementor-element-6f3b2f7>.elementor-element-populated {
    padding: 0px 96px 0px 0px;
}

.elementor-650 .elementor-element.elementor-element-4083e35 {
    --divider-border-style: solid;
    --divider-color: #66D7D1;
    --divider-border-width: 4px;
}

.elementor-650 .elementor-element.elementor-element-4083e35 .elementor-divider-separator {
    width: 48px;
}

.elementor-650 .elementor-element.elementor-element-4083e35 .elementor-divider {
    padding-top: 0px;
    padding-bottom: 0px;
}

.elementor-650 .elementor-element.elementor-element-4083e35>.elementor-widget-container {
    margin: 0px 0px 16px 0px;
}

.elementor-650 .elementor-element.elementor-element-8793da5>.elementor-widget-container {
    margin: 0px 0px -8px 0px;
}

.elementor-650 .elementor-element.elementor-element-723fea6 .elementor-tab-title .elementor-toggle-icon i:before {
    color: var( --e-global-color-primary);
}

.elementor-650 .elementor-element.elementor-element-723fea6 .elementor-tab-title .elementor-toggle-icon svg {
    fill: var( --e-global-color-primary);
}

.elementor-650 .elementor-element.elementor-element-723fea6 .elementor-toggle-icon.elementor-toggle-icon-left {
    margin-right: 11px;
}

.elementor-650 .elementor-element.elementor-element-723fea6 .elementor-toggle-icon.elementor-toggle-icon-right {
    margin-left: 11px;
}

.elementor-650 .elementor-element.elementor-element-267706e>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 32px;
}

.elementor-650 .elementor-element.elementor-element-267706e>.elementor-element-populated {
    padding: 0px 16px 0px 0px;
}

.elementor-650 .elementor-element.elementor-element-cd1f650 img {
    border-radius: 16px 16px 16px 16px;
}

.elementor-650 .elementor-element.elementor-element-20f2a01 img {
    border-radius: 16px 16px 16px 16px;
}

.elementor-650 .elementor-element.elementor-element-eb63d5f>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 32px;
}

.elementor-650 .elementor-element.elementor-element-eb63d5f>.elementor-element-populated {
    padding: 0px 0px 0px 16px;
}

.elementor-650 .elementor-element.elementor-element-336d15a img {
    border-radius: 16px 16px 16px 16px;
}

.elementor-650 .elementor-element.elementor-element-4231689 img {
    border-radius: 16px 16px 16px 16px;
}

.elementor-650 .elementor-element.elementor-element-da3ec32 {
    margin-top: 276px;
    margin-bottom: 0px;
}

.elementor-650 .elementor-element.elementor-element-d064a0a>.elementor-element-populated {
    padding: 0px 64px 0px 0px;
}

.elementor-650 .elementor-element.elementor-element-a35c6cb {
    --divider-border-style: solid;
    --divider-color: #66D7D1;
    --divider-border-width: 4px;
}

.elementor-650 .elementor-element.elementor-element-a35c6cb .elementor-divider-separator {
    width: 48px;
}

.elementor-650 .elementor-element.elementor-element-a35c6cb .elementor-divider {
    padding-top: 0px;
    padding-bottom: 0px;
}

.elementor-650 .elementor-element.elementor-element-a35c6cb>.elementor-widget-container {
    margin: 0px 0px 16px 0px;
}

.elementor-650 .elementor-element.elementor-element-2749e8c>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 16px;
}

.elementor-650 .elementor-element.elementor-element-2749e8c>.elementor-element-populated {
    padding: 0px 32px 0px 0px;
}

.elementor-650 .elementor-element.elementor-element-a5d16e5 img {
    border-radius: 16px 16px 16px 16px;
}

.elementor-650 .elementor-element.elementor-element-a5d16e5>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-650 .elementor-element.elementor-element-85f121f {
    text-align: center;
}

.elementor-650 .elementor-element.elementor-element-ca56831 {
    --divider-border-style: solid;
    --divider-color: #000;
    --divider-border-width: 1px;
}

.elementor-650 .elementor-element.elementor-element-ca56831 .elementor-divider-separator {
    width: 100%;
}

.elementor-650 .elementor-element.elementor-element-ca56831 .elementor-divider {
    padding-top: 15px;
    padding-bottom: 15px;
}

.elementor-650 .elementor-element.elementor-element-ca56831 .elementor-icon i, .elementor-650 .elementor-element.elementor-element-ca56831 .elementor-icon svg {
    transform: rotate(0deg);
}

.elementor-650 .elementor-element.elementor-element-d962032>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 16px;
}

.elementor-650 .elementor-element.elementor-element-d962032>.elementor-element-populated {
    padding: 0px 16px 0px 16px;
}

.elementor-650 .elementor-element.elementor-element-0198a98 img {
    max-width: 69%;
    border-radius: 16px 16px 16px 16px;
    box-shadow: 0px 24px 40px -16px rgba(0, 0, 0, 0.5);
}

.elementor-650 .elementor-element.elementor-element-0198a98>.elementor-widget-container {
    padding: 0px 0px 80px 0px;
}

.elementor-650 .elementor-element.elementor-element-74a9dc6 {
    text-align: center;
}

.elementor-650 .elementor-element.elementor-element-74a9dc6>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-650 .elementor-element.elementor-element-3e9d711 {
    --divider-border-style: solid;
    --divider-color: #000;
    --divider-border-width: 1px;
}

.elementor-650 .elementor-element.elementor-element-3e9d711 .elementor-divider-separator {
    width: 100%;
}

.elementor-650 .elementor-element.elementor-element-3e9d711 .elementor-divider {
    padding-top: 15px;
    padding-bottom: 15px;
}

.elementor-650 .elementor-element.elementor-element-3e9d711 .elementor-icon i, .elementor-650 .elementor-element.elementor-element-3e9d711 .elementor-icon svg {
    transform: rotate(0deg);
}

.elementor-650 .elementor-element.elementor-element-9c3a8d2>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 16px;
}

.elementor-650 .elementor-element.elementor-element-9c3a8d2>.elementor-element-populated {
    padding: 0px 0px 0px 32px;
}

.elementor-650 .elementor-element.elementor-element-ef2bb99 img {
    max-width: 69%;
    border-radius: 16px 16px 16px 16px;
    box-shadow: 0px 24px 40px -16px rgba(0, 0, 0, 0.5);
}

.elementor-650 .elementor-element.elementor-element-ef2bb99>.elementor-widget-container {
    padding: 0px 0px 80px 0px;
}

.elementor-650 .elementor-element.elementor-element-eefa963 {
    text-align: center;
}

.elementor-650 .elementor-element.elementor-element-cd4cde7 {
    --divider-border-style: solid;
    --divider-color: #000;
    --divider-border-width: 1px;
}

.elementor-650 .elementor-element.elementor-element-cd4cde7 .elementor-divider-separator {
    width: 100%;
}

.elementor-650 .elementor-element.elementor-element-cd4cde7 .elementor-divider {
    padding-top: 15px;
    padding-bottom: 15px;
}

.elementor-650 .elementor-element.elementor-element-cd4cde7 .elementor-icon i, .elementor-650 .elementor-element.elementor-element-cd4cde7 .elementor-icon svg {
    transform: rotate(0deg);
}

.elementor-650 .elementor-element.elementor-element-11e608f {
    --divider-border-style: solid;
    --divider-color: #66D7D1;
    --divider-border-width: 4px;
}

.elementor-650 .elementor-element.elementor-element-11e608f .elementor-divider-separator {
    width: 48px;
    margin: 0 auto;
    margin-center: 0;
}

.elementor-650 .elementor-element.elementor-element-11e608f .elementor-divider {
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px;
}

.elementor-650 .elementor-element.elementor-element-11e608f>.elementor-widget-container {
    margin: 170px 0px 16px 0px;
}

.elementor-650 .elementor-element.elementor-element-f5ac6b2 {
    text-align: center;
}

.elementor-650 .elementor-element.elementor-element-2c183ec {
    margin-top: 72px;
    margin-bottom: 0px;
    padding: 40px 0px 0px 0px;
}

.elementor-650 .elementor-element.elementor-element-1b4dc6d:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap, .elementor-650 .elementor-element.elementor-element-1b4dc6d>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F2F3FA;
}

.elementor-650 .elementor-element.elementor-element-1b4dc6d>.elementor-element-populated, .elementor-650 .elementor-element.elementor-element-1b4dc6d>.elementor-element-populated>.elementor-background-overlay, .elementor-650 .elementor-element.elementor-element-1b4dc6d>.elementor-background-slideshow {
    border-radius: 16px 16px 16px 16px;
}

.elementor-650 .elementor-element.elementor-element-1b4dc6d>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 32px 0px 0px;
    padding: 0px 48px 40px 40px;
}

.elementor-650 .elementor-element.elementor-element-1b4dc6d>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-650 .elementor-element.elementor-element-e9270fd {
    text-align: left;
}

.elementor-650 .elementor-element.elementor-element-e9270fd img {
    max-width: 40%;
    border-radius: 16px 16px 16px 16px;
    box-shadow: 0px 24px 40px -16px rgba(0, 0, 0, 0.4);
}

.elementor-650 .elementor-element.elementor-element-e9270fd>.elementor-widget-container {
    margin: -40px 0px 0px 0px;
}

.elementor-650 .elementor-element.elementor-element-fef2e39 {
    color: #2D3033;
    font-weight: 600;
}

.elementor-650 .elementor-element.elementor-element-b203b11 .elementor-heading-title {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.elementor-650 .elementor-element.elementor-element-e2069ac:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap, .elementor-650 .elementor-element.elementor-element-e2069ac>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F2F3FA;
}

.elementor-650 .elementor-element.elementor-element-e2069ac>.elementor-element-populated, .elementor-650 .elementor-element.elementor-element-e2069ac>.elementor-element-populated>.elementor-background-overlay, .elementor-650 .elementor-element.elementor-element-e2069ac>.elementor-background-slideshow {
    border-radius: 16px 16px 16px 16px;
}

.elementor-650 .elementor-element.elementor-element-e2069ac>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 16px 0px 16px;
    padding: 0px 48px 40px 40px;
}

.elementor-650 .elementor-element.elementor-element-e2069ac>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-650 .elementor-element.elementor-element-5edebed {
    text-align: left;
}

.elementor-650 .elementor-element.elementor-element-5edebed img {
    max-width: 40%;
    border-radius: 16px 16px 16px 16px;
    box-shadow: 0px 24px 40px -16px rgba(0, 0, 0, 0.4);
}

.elementor-650 .elementor-element.elementor-element-5edebed>.elementor-widget-container {
    margin: -40px 0px 0px 0px;
}

.elementor-650 .elementor-element.elementor-element-4066dff {
    color: #2D3033;
    font-weight: 600;
}

.elementor-650 .elementor-element.elementor-element-9c5d190 .elementor-heading-title {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.elementor-650 .elementor-element.elementor-element-51a3eca:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap, .elementor-650 .elementor-element.elementor-element-51a3eca>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F2F3FA;
}

.elementor-650 .elementor-element.elementor-element-51a3eca>.elementor-element-populated, .elementor-650 .elementor-element.elementor-element-51a3eca>.elementor-element-populated>.elementor-background-overlay, .elementor-650 .elementor-element.elementor-element-51a3eca>.elementor-background-slideshow {
    border-radius: 16px 16px 16px 16px;
}

.elementor-650 .elementor-element.elementor-element-51a3eca>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 32px;
    padding: 0px 48px 40px 40px;
}

.elementor-650 .elementor-element.elementor-element-51a3eca>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-650 .elementor-element.elementor-element-0a0b2f8 {
    text-align: left;
}

.elementor-650 .elementor-element.elementor-element-0a0b2f8 img {
    max-width: 40%;
    border-radius: 16px 16px 16px 16px;
    box-shadow: 0px 24px 40px -16px rgba(0, 0, 0, 0.4);
}

.elementor-650 .elementor-element.elementor-element-0a0b2f8>.elementor-widget-container {
    margin: -40px 0px 0px 0px;
}

.elementor-650 .elementor-element.elementor-element-b6ae25d {
    color: #2D3033;
    font-weight: 600;
}

.elementor-650 .elementor-element.elementor-element-9b125c4 .elementor-heading-title {
    text-transform: uppercase;
    letter-spacing: 2px;
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-650 .elementor-element.elementor-element-d064a0a {
        width: 100%;
    }
    .elementor-650 .elementor-element.elementor-element-2749e8c {
        width: 33.333%;
    }
    .elementor-650 .elementor-element.elementor-element-d962032 {
        width: 33.333%;
    }
    .elementor-650 .elementor-element.elementor-element-9c3a8d2 {
        width: 33.333%;
    }
}

@media(max-width:1024px) {
    .elementor-650 .elementor-element.elementor-element-0123579 {
        padding: 120px 40px 40px 40px;
    }
    .elementor-650 .elementor-element.elementor-element-84a1951>.elementor-element-populated {
        margin: 20% 0% 0% 0%;
    }
    .elementor-650 .elementor-element.elementor-element-cd47b80>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
    .elementor-650 .elementor-element.elementor-element-caf3118 .elementor-heading-title {
        font-size: 40px;
    }
    .elementor-650 .elementor-element.elementor-element-caf3118>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0% 50% 0% 0%;
    }
    .elementor-650 .elementor-element.elementor-element-b6b9f74>.elementor-widget-container {
        padding: 0% 54% 0% 0%;
    }
    .elementor-650 .elementor-element.elementor-element-4a3ccb9 {
        padding: 40px 40px 96px 40px;
    }
    .elementor-650 .elementor-element.elementor-element-156626c>.elementor-element-populated {
        padding: 0px 0px 0px 32px;
    }
    .elementor-650 .elementor-element.elementor-element-b7294bd>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
    .elementor-650 .elementor-element.elementor-element-f6920a8 .elementor-heading-title {
        font-size: 28px;
    }
    .elementor-650 .elementor-element.elementor-element-86017dc {
        padding: 0px 40px 96px 40px;
    }
    .elementor-650 .elementor-element.elementor-element-f07f047 .elementor-heading-title {
        font-size: 28px;
    }
    .elementor-650 .elementor-element.elementor-element-14d24db {
        margin-top: 48px;
        margin-bottom: 0px;
    }
    .elementor-650 .elementor-element.elementor-element-45ca856>.elementor-element-populated {
        margin: 0px 8px 0px 0px;
        padding: 0px 16px 24px 16px;
    }
    .elementor-650 .elementor-element.elementor-element-a28fae1>.elementor-widget-container {
        margin: 0px -16px 0px -16px;
    }
    .elementor-650 .elementor-element.elementor-element-a88994a>.elementor-element-populated {
        margin: 0px 4px 0px 4px;
        padding: 0px 16px 24px 16px;
    }
    .elementor-650 .elementor-element.elementor-element-1081e7b>.elementor-widget-container {
        margin: 0px -16px 0px -16px;
    }
    .elementor-650 .elementor-element.elementor-element-db653a8>.elementor-element-populated {
        margin: 0px 0px 0px 8px;
        padding: 0px 16px 24px 16px;
    }
    .elementor-650 .elementor-element.elementor-element-79416b9>.elementor-widget-container {
        margin: 0px -16px 0px -16px;
    }
    .elementor-650 .elementor-element.elementor-element-d4aa493 {
        padding: 40px 40px 80px 40px;
    }
    .elementor-650 .elementor-element.elementor-element-f7739f2 {
        margin-top: 0px;
        margin-bottom: 80px;
    }
    .elementor-650 .elementor-element.elementor-element-6f3b2f7>.elementor-element-populated {
        padding: 0px 40px 0px 0px;
    }
    .elementor-650 .elementor-element.elementor-element-4083e35>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
    .elementor-650 .elementor-element.elementor-element-a7e23c3 .elementor-heading-title {
        font-size: 28px;
    }
    .elementor-650 .elementor-element.elementor-element-267706e>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 16px;
    }
    .elementor-650 .elementor-element.elementor-element-267706e>.elementor-element-populated {
        padding: 48px 8px 0px 0px;
    }
    .elementor-650 .elementor-element.elementor-element-eb63d5f>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 16px;
    }
    .elementor-650 .elementor-element.elementor-element-eb63d5f>.elementor-element-populated {
        padding: 0px 0px 48px 8px;
    }
    .elementor-650 .elementor-element.elementor-element-da3ec32 {
        margin-top: 80px;
        margin-bottom: 0px;
    }
    .elementor-650 .elementor-element.elementor-element-d064a0a>.elementor-element-populated {
        padding: 0px 80px 24px 0px;
    }
    .elementor-650 .elementor-element.elementor-element-a35c6cb>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
    .elementor-650 .elementor-element.elementor-element-af36342 .elementor-heading-title {
        font-size: 28px;
    }
    .elementor-650 .elementor-element.elementor-element-2749e8c>.elementor-element-populated {
        padding: 0px 16px 0px 0px;
    }
    .elementor-650 .elementor-element.elementor-element-d962032>.elementor-element-populated {
        padding: 0px 8px 0px 8px;
    }
    .elementor-650 .elementor-element.elementor-element-9c3a8d2>.elementor-element-populated {
        padding: 0px 0px 0px 16px;
    }
    .elementor-650 .elementor-element.elementor-element-11e608f>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
    .elementor-650 .elementor-element.elementor-element-2c183ec {
        margin-top: 24px;
        margin-bottom: 0px;
    }
    .elementor-650 .elementor-element.elementor-element-1b4dc6d>.elementor-element-populated {
        margin: 0px 8px 0px 0px;
        padding: 0px 16px 24px 16px;
    }
    .elementor-650 .elementor-element.elementor-element-e9270fd img {
        width: 64px;
    }
    .elementor-650 .elementor-element.elementor-element-e9270fd>.elementor-widget-container {
        margin: -32px 0px 0px 0px;
    }
    .elementor-650 .elementor-element.elementor-element-e2069ac>.elementor-element-populated {
        margin: 0px 4px 0px 4px;
        padding: 0px 16px 24px 16px;
    }
    .elementor-650 .elementor-element.elementor-element-5edebed img {
        width: 64px;
    }
    .elementor-650 .elementor-element.elementor-element-5edebed>.elementor-widget-container {
        margin: -32px 0px 0px 0px;
    }
    .elementor-650 .elementor-element.elementor-element-51a3eca>.elementor-element-populated {
        margin: 0px 0px 0px 8px;
        padding: 0px 16px 24px 16px;
    }
    .elementor-650 .elementor-element.elementor-element-0a0b2f8 img {
        width: 64px;
    }
    .elementor-650 .elementor-element.elementor-element-0a0b2f8>.elementor-widget-container {
        margin: -32px 0px 0px 0px;
    }
}

@media(max-width:767px) {
    .elementor-650 .elementor-element.elementor-element-0123579:not(.elementor-motion-effects-element-type-background), .elementor-650 .elementor-element.elementor-element-0123579>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-size: 64vw auto;
    }
    .elementor-650 .elementor-element.elementor-element-0123579 {
        padding: 240px 24px 48px 24px;
    }
    .elementor-650 .elementor-element.elementor-element-84a1951>.elementor-element-populated {
        margin: -60px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-650 .elementor-element.elementor-element-cd47b80>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
    .elementor-650 .elementor-element.elementor-element-caf3118 .elementor-heading-title {
        font-size: 32px;
    }
    .elementor-650 .elementor-element.elementor-element-caf3118>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }
    .elementor-650 .elementor-element.elementor-element-b6b9f74>.elementor-widget-container {
        padding: 0px 24px 0px 0px;
    }
    .elementor-650 .elementor-element.elementor-element-10cf17d>.elementor-widget-container {
        padding: 0px 32px 0px 0px;
    }
    .elementor-650 .elementor-element.elementor-element-9d56778 {
        --grid-row-gap: 9px;
    }
    .elementor-650 .elementor-element.elementor-element-4a3ccb9 {
        padding: 48px 24px 128px 24px;
    }
    .elementor-650 .elementor-element.elementor-element-037e928>.elementor-widget-container {
        margin: 0px 0px 16px 0px;
    }
    .elementor-650 .elementor-element.elementor-element-156626c>.elementor-element-populated {
        padding: 32px 0px 0px 0px;
    }
    .elementor-650 .elementor-element.elementor-element-86017dc {
        padding: 24px 24px 96px 24px;
    }
    .elementor-650 .elementor-element.elementor-element-b9d54c6>.elementor-element-populated {
        padding: 0px 0px 24px 0px;
    }
    .elementor-650 .elementor-element.elementor-element-45ca856>.elementor-element-populated {
        margin: 0px 0px 32px 0px;
    }
    .elementor-650 .elementor-element.elementor-element-a88994a>.elementor-element-populated {
        margin: 0px 0px 32px 0px;
    }
    .elementor-650 .elementor-element.elementor-element-db653a8>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
    }
    .elementor-650 .elementor-element.elementor-element-d4aa493:not(.elementor-motion-effects-element-type-background), .elementor-650 .elementor-element.elementor-element-d4aa493>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-size: 64vw auto;
    }
    .elementor-650 .elementor-element.elementor-element-d4aa493>.elementor-background-overlay {
        background-size: 40vw auto;
    }
    .elementor-650 .elementor-element.elementor-element-d4aa493 {
        padding: 24px 24px 64px 24px;
    }
    .elementor-650 .elementor-element.elementor-element-f7739f2 {
        margin-top: 0px;
        margin-bottom: 64px;
    }
    .elementor-650 .elementor-element.elementor-element-6f3b2f7>.elementor-element-populated {
        padding: 0px 0px 40px 0px;
    }
    .elementor-650 .elementor-element.elementor-element-267706e {
        width: 50%;
    }
    .elementor-650 .elementor-element.elementor-element-267706e>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 16px;
    }
    .elementor-650 .elementor-element.elementor-element-267706e>.elementor-element-populated {
        padding: 0px 8px 0px 0px;
    }
    .elementor-650 .elementor-element.elementor-element-eb63d5f {
        width: 50%;
    }
    .elementor-650 .elementor-element.elementor-element-eb63d5f>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 16px;
    }
    .elementor-650 .elementor-element.elementor-element-eb63d5f>.elementor-element-populated {
        padding: 0px 0px 0px 8px;
    }
    .elementor-650 .elementor-element.elementor-element-d064a0a>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }
    .elementor-650 .elementor-element.elementor-element-2749e8c>.elementor-element-populated {
        padding: 0px 0px 40px 0px;
    }
    .elementor-650 .elementor-element.elementor-element-a5d16e5>.elementor-widget-container {
        margin: 30px 0px 0px 0px;
    }
    .elementor-650 .elementor-element.elementor-element-d962032>.elementor-element-populated {
        padding: 0px 0px 40px 0px;
    }
    .elementor-650 .elementor-element.elementor-element-0198a98 img {
        max-width: 52%;
    }
    .elementor-650 .elementor-element.elementor-element-0198a98>.elementor-widget-container {
        padding: 0px 0px 31px 0px;
    }
    .elementor-650 .elementor-element.elementor-element-9c3a8d2>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }
    .elementor-650 .elementor-element.elementor-element-ef2bb99 img {
        max-width: 52%;
    }
    .elementor-650 .elementor-element.elementor-element-ef2bb99>.elementor-widget-container {
        padding: 30px 0px 0px 0px;
    }
    .elementor-650 .elementor-element.elementor-element-eefa963>.elementor-widget-container {
        margin: 40px 0px 0px 0px;
    }
    .elementor-650 .elementor-element.elementor-element-11e608f>.elementor-widget-container {
        margin: 70px 0px 0px 0px;
    }
    .elementor-650 .elementor-element.elementor-element-2c183ec {
        margin-top: 24px;
        margin-bottom: 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-650 .elementor-element.elementor-element-1b4dc6d>.elementor-element-populated {
        margin: 32px 0px 48px 0px;
        padding: 0px 24px 32px 24px;
    }
    .elementor-650 .elementor-element.elementor-element-e2069ac>.elementor-element-populated {
        margin: 32px 0px 48px 0px;
        padding: 0px 24px 32px 24px;
    }
    .elementor-650 .elementor-element.elementor-element-51a3eca>.elementor-element-populated {
        margin: 32px 0px 0px 0px;
        padding: 0px 24px 32px 24px;
    }
}